.index{
  background-color: #f2f6f5
  color: #c8dad3
  text-align: center
  }

h2{
    background-color: #c8dad3
    color: #93b5b3
    
  }

.li{
  font-size: 14px
  color: #63707e
  margin: 0px
  padding: 0px
  }

.text{
  color: #63707e

}